.Settings-table{
    text-align: center;
    border-collapse: collapse;
    background-color: #D9D9D9;
}

.Settings-table td,
.Settings-table th{
    padding: 3px;
    border-left: 1px solid black;
}

.Settings-table th{
    font-size: 19px;
    border-bottom: 1px solid black;;
}

.Settings-table td{
    font-size: 16px;
}

.Settings-table th:first-child{
    border-left: none;
}

.Settings-table td:first-child{
    border: none;
    text-align: left;
    padding-inline: 13px;
}

.Settings-table tbody tr:nth-child(odd){
    background-color: #BABABA;
}

.Settings-table button{
    background: none;
    border: none;
}

.Settings-table th:last-child{
    width: 108px;
}

.Settings-save-button{
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: #5E5E5E;
    margin-inline: auto;
    margin-top: 20px;
}

.Settings-save-button:hover{
    background-color: #999;
}

.Settings-vertical-form{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.Settings-vertical-form label{
    margin-top: 15px;
}